/1_first.py
/data_scrap_apartment-floor.py
/.vscode
/data_scrap_land.py
/scrap_page_source
/dataset
/b.py
/BeautifulSoup file
/Data Cleaning & Feature Engerring & EDA
/outlier & missing value handle
/Feature Selection and model selection & and later
/pickle files
/WhatsApp Image 2026-03-30 at 10.13.29 PM.jpeg
/Reports
/desktop.ini
/App/first.py
